.flows.json.backup
[{"id":"c687b6a0.745388","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"c687b6a0.745388","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"b4c06288.898d","type":"inject","z":"c687b6a0.745388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["b190818e.f44fc"]]},{"id":"b190818e.f44fc","type":"debug","z":"c687b6a0.745388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":180,"wires":[]}]